@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="../assets/pages/img/logo-big-white.png" style="height: 17px;" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<input type="button" name="writeCustomer" id="btnWriteCustomer" value="WriteCustomer" />

<div class="content">
    <!-- BEGIN LOGIN FORM -->
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {

        <form class="login-form" action="index.html" method="post">
            <div class="form-title">
                <span class="form-title">Welcome.</span>
                <span class="form-subtitle">Please login.</span>
            </div>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix" id="username" value="@Html.DisplayText("username")" type="text" autocomplete="off" placeholder="Username" name="username" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" id="password" type="password" autocomplete="off" placeholder="Password" name="password" />
            </div>
            <div class="form-actions">
                <button type="submit" class="btn red btn-block uppercase">Login</button>
            </div>
            <span class="label-danger">@TempData["error"]</span>
            <div class="form-actions">
                <div class="pull-left">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="true" /> Remember me
                        <span></span>
                    </label>
                </div>
            </div>
        </form>

        <!-- END LOGIN FORM -->
    }
</div>
<div class="copyright hide"> 2014 © Metronic. Admin Dashboard Template. </div>
@section Scripts {
    <script>
        // {"CustomerID":"AAAAG","CompanyName":"VVVVVVV","ContactName":"VVVVVV"}
        var newCustomer = {
            CustomerID : "AAAAC",
            CompanyName : "AAAAC",
            ContactName : "AAAAC"
        };
        $("#btnWriteCustomer").click(function () {
             $.ajax({
                type: 'POST',
                 url: "http://localhost:59246/api/customers/",
                 data: JSON.stringify(newCustomer),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                cache: false,
                 async: true,
                 success: function (data) {
                     alert(data);
                },
                 error: function (response) {
                     debugger;
                    alert("錯誤", "資料匯出錯誤");
                }
            });

        });

    </script>
}