
*.lock
.vs/CEC_SwiftHR/v15/.suo
.vs/CEC_SwiftHR/v15/.suo
.vs/CEC_SwiftHR/v15/.suo
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide-shm
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
.vs/CEC_SwiftHR/v15/.suo
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide-shm
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
*.ide
.vs/CEC_SwiftHR/DesignTimeBuild/.dtbcache
.vs/CEC_SwiftHR/v15/.suo
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide-shm
.vs/CEC_SwiftHR/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
